parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getSession\\(\\) on Symfony\\\\Component\\\\HttpFoundation\\\\Request\\|null\\.$#"
			count: 1
			path: tests/SessionChessProviderTest.php

		-
			identifier: staticMethod.alreadyNarrowedType
			count: 12
			path: tests
