<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="ChessBundle test suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <!-- see https://www.tomasvotruba.cz/blog/2019/03/28/how-to-mock-final-classes-in-phpunit/ -->
    <extensions>
        <bootstrap class="PChess\ChessBundle\Tests\BypassFinalExtension"/>
    </extensions>
</phpunit>
