name: Build

on:
    push:
        branches:
            - main
    pull_request: ~

jobs:
    phpstan:
        runs-on: ubuntu-24.04
        name: PHPStan
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: PHPStan
              uses: docker://oskarstark/phpstan-ga:1.8.0
              env:
                  REQUIRE_DEV: true
              with:
                  args: analyse
    cs-fixer:
        runs-on: ubuntu-24.04
        name: PHP-CS-Fixer
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Fix CS
              uses: docker://oskarstark/php-cs-fixer-ga
              with:
                args: --diff --dry-run
    tests:
        runs-on: ubuntu-24.04
        strategy:
            matrix:
                php:
                    - '8.1'
                    - '8.2'
                    - '8.3'
                    - '8.4'
                    - '8.5'
                include:
                    - description: 'Symfony 6.4'
                      php: '8.1'
                      composer_option: '--prefer-lowest'
                    - description: 'Symfony 6.4'
                      php: '8.3'
                      symfony: 6.4.*
                    - description: 'Symfony 7.4'
                      php: '8.4'
                      symfony: 7.4.*
                    - description: 'Symfony 8.0'
                      php: '8.5'
                      symfony: 8.0.*
        name: PHP ${{ matrix.php }} tests (${{ matrix.description }})
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Cache
              uses: actions/cache@v4
              with:
                  path: ~/.composer/cache/files
                  key: ${{ matrix.php }}-${{ matrix.symfony }}-${{ matrix.composer_option }} 
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
            - run: |
                  sed -ri 's/"symfony\/(.+)": "(.+)"/"symfony\/\1": "'${{ matrix.symfony }}'"/' composer.json;
              if: contains(matrix.symfony, '-dev')
            - run: composer config minimum-stability dev
            - run: composer config prefer-stable true
              if: matrix.symfony
            - run: composer update --no-interaction --no-progress --ansi ${{ matrix.composer_option }}
            - run: vendor/bin/phpunit

